release-tags-and-branches: &release-tags-and-branches
  filters:
    tags:
      ignore:
        - /^.*-SNAPSHOT/
        - latest
    branches:
      only: /^release\/.*/

release-tags: &release-tags
  filters:
    tags:
      ignore:
        - /^.*-SNAPSHOT/
        - latest
    branches:
      ignore: /.*/

version: 2.1
orbs:
  android: circleci/android@0.2.1
  android-wordpress-orb: wordpress-mobile/android@1.0.15
  gcp-cli: circleci/gcp-cli@2.1.0

executors:
  android-executor:
    docker:
      - image: circleci/android:api-28
    resource_class: large
    working_directory: ~/purchases-android
    environment:
      JVM_OPTS: -Xmx6g
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"

commands:
  install-sdkman:
    description: Install SDKMAN
    steps:
      - run:
          name: Installing SDKMAN
          command: |
            if curl -s "https://get.sdkman.io?rcupdate=false" | bash; then
              echo -e '\nsource "/home/circleci/.sdkman/bin/sdkman-init.sh"' >> $BASH_ENV
              source $BASH_ENV
            else
              echo "Error installing SDKMAN, continuing with default Java" >&2
            fi
      - run:
          name: Setup Java environment
          command: |
            if ! sdk env install; then
              echo "Error installing Java SDK through SDKMAN, continuing with default Java" >&2
            fi

  android-dependencies:
    steps:
      - android-wordpress-orb/restore-gradle-cache
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - android-wordpress-orb/save-gradle-cache

  prepare-signing-key:
    steps:
      - run:
          name: Prepare GPG keystore file
          command: |
            export GPG_KEY_FILE=`mktemp`
            echo "export GPG_KEY=$GPG_KEY_FILE" >> $BASH_ENV
      - run:
          name: Base64 decode gpg keystore to file
          command: echo $SIGNING_GPG_BASE64 | base64 --decode > $GPG_KEY
      - run:
          name: Import GPG keys
          command: gpg --batch --import $GPG_KEY
      - run:
          name: Fixing GPG compatibility
          command: |
            echo $GPG_SIGNING_KEY_PW_NEW | gpg --batch --pinentry-mode=loopback --passphrase-fd 0 \
            --export-secret-keys > /home/circleci/.gnupg/secring.gpg

  setup-git-credentials:
    steps:
      - run:
          name: Setup Git config
          command: |
            git config user.email $GIT_EMAIL
            git config user.name $GIT_USERNAME

  trust-github-key:
    steps:
      - run:
          name: Trust GitHub key
          command: |
            for ip in $(dig @8.8.8.8 github.com +short); \
            do ssh-keyscan github.com,$ip; \
            ssh-keyscan $ip; \
            done 2>/dev/null >> ~/.ssh/known_hosts

  install-gems:
    steps:
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

  download-amazon-dependency:
    steps:
      - run:
          name: Download Amazon Dependency
          command: ./gradlew getAmazonLibrary

jobs:

  test:
    executor: android-executor
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - install-sdkman
      - android/accept-licenses
      - android-dependencies
      - android/restore-build-cache
      - download-amazon-dependency
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - run:
          name: Consolidate artifacts
          command: |
              mkdir -p build/test-results/
              find . -type f -regex ".*/build/test-results/.*xml" -exec cp --parents {} build/test-results/ \;
      - run:
          name: Detekt
          command: ./gradlew detektAll
      - android/save-build-cache
      - store_artifacts:
          path: build/reports
      - store_test_results:
          path: build/test-results

  docs-deploy:
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - android-wordpress-orb/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Dokka
          command: ./gradlew dokkaHtmlMultiModule
      - android-wordpress-orb/save-gradle-cache
      - android/save-build-cache
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy to S3
          command: aws s3 sync ~/purchases-android/docs s3://purchases-docs/android --delete
      - run:
          name: Invalidate CloudFront caches
          command: aws cloudfront create-invalidation --distribution-id EPTW7F3CB566V --paths "/*"

  deploy:
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - setup-git-credentials
      - trust-github-key
      - install-gems
      - prepare-signing-key
      - android-wordpress-orb/restore-gradle-cache
      - android/restore-build-cache
      - download-amazon-dependency
      - run:
          name: Deployment
          command: |
            bundle exec fastlane android deploy
      - android-wordpress-orb/save-gradle-cache
      - android/save-build-cache

  prepare-next-version:
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - install-gems
      - setup-git-credentials
      - trust-github-key
      - run:
          name: Prepare next version
          command: bundle exec fastlane prepare_next_version

  deploy-snapshot:
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - android-wordpress-orb/restore-gradle-cache
      - prepare-signing-key
      - download-amazon-dependency
      - run:
          name: Deployment
          command: |
            bundle exec fastlane android deploy_snapshot
      - android-wordpress-orb/save-gradle-cache

  assemble-sample-app:
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - android/accept-licenses
      - android-wordpress-orb/restore-gradle-cache
      - android/restore-build-cache
      - download-amazon-dependency
      - run:
          name: Replace API_KEY
          working_directory: examples/purchase-tester
          command: |
            sed -i s/api_key/$API_KEY/ src/main/java/com/revenuecat/purchasetester/MainApplication.kt
      - run:
          name: Prepare Keystore
          working_directory: examples/purchase-tester
          command: echo $RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Assemble
          command: |
            ./gradlew -p examples/purchase-tester assemble \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - store_artifacts:
          path: examples/purchase-tester/build/outputs/apk/release/purchase-tester-release.apk
      - android-wordpress-orb/save-gradle-cache
      - android/save-build-cache

  integration-tests-build:
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - run:
          name: Replace API_KEY
          working_directory: integration-tests/src/androidTest/java/com/revenuecat/purchases/integrationtests/
          command: |
            sed -i s/REVENUECAT_API_KEY/$API_KEY/ IntegrationTest.kt
      - android/restore-build-cache
      - run:
          name: Prepare Keystore
          working_directory: integration-tests
          command: echo $RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Assemble Release APK
          command: |
            ./gradlew -p integration-tests assembleRelease \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - run:
          name: Assemble AndroidTest APK
          command: |
            ./gradlew -p integration-tests assembleAndroidTest -PtestBuildType=release \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - android/save-build-cache
      - persist_to_workspace:
          root: .
          paths:
            - integration-tests/build/outputs/apk/release/integration-tests-release.apk
            - integration-tests/build/outputs/apk/androidTest/release/integration-tests-release-androidTest.apk

  run-firebase-tests-purchases-load-shedder-integration-test:
    description: "Run purchases module integration tests for Android in Firebase using the load shedder servers"
    executor: android-executor
    steps:
      - checkout
      - install-sdkman
      - install-gems
      - gcp-cli/install
      - gcp-cli/initialize:
          gcloud-service-key: GCLOUD_SERVICE_KEY
          google-compute-zone: GOOGLE_COMPUTE_ZONE
          google-project-id: GOOGLE_PROJECT_ID
      - android/restore-build-cache
      - run:
          name: Build and run load shedder integration tests
          command: |
            bundle exec fastlane android run_load_shedder_purchases_integration_tests
      - android/save-build-cache
      - store_artifacts:
          path: ~/gsutil/
      - store_test_results:
          path: ~/gsutil/

  run-firebase-tests:
    description: "Run integration tests for Android in Firebase"
    executor: gcp-cli/google
    steps:
      - checkout
      - attach_workspace:
          at: .
      - gcp-cli/initialize:
          gcloud-service-key: GCLOUD_SERVICE_KEY
          google-compute-zone: GOOGLE_COMPUTE_ZONE
          google-project-id: GOOGLE_PROJECT_ID
      - run:
          name: Test with Firebase Test Lab
          command: >
            gcloud firebase test android run --type instrumentation \
              --app integration-tests/build/outputs/apk/release/integration-tests-release.apk \
              --test integration-tests/build/outputs/apk/androidTest/release/integration-tests-release-androidTest.apk \
              --timeout 2m \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID}
      - run:
          name: Copy test results data
          command: |
            mkdir -p ~/gsutil/
            gsutil -m cp -r -U `gsutil ls gs://cloud-test-$GOOGLE_PROJECT_ID | tail -1` ~/gsutil/ | true
          when: always
      - store_artifacts:
          path: ~/gsutil/
      - store_test_results:
          path: ~/gsutil/

workflows:
  version: 2
  build-test:
    jobs:
      - test
      - assemble-sample-app

  integration-test:
    jobs:
      - integration-tests-build: *release-tags-and-branches
      - run-firebase-tests:
          requires:
            - integration-tests-build

  deploy:
    jobs:
      - deploy: *release-tags
      - prepare-next-version: *release-tags
      - deploy-snapshot:
          filters:
            branches:
              only:
                - main
      - docs-deploy: *release-tags

  daily-load-shedder-integration-tests:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "load-shedder-integration-tests-v4", << pipeline.schedule.name >> ]
    jobs:
      - run-firebase-tests-purchases-load-shedder-integration-test:
          context:
            - slack-secrets
