version: 2.1
orbs:
  android: circleci/android@0.2.1
  android-wordpress-orb: wordpress-mobile/android@1.0.15
  gcp-cli: circleci/gcp-cli@2.1.0

executors:
  android-executor:
    docker:
      - image: circleci/android:api-28
    resource_class: large
    working_directory: ~/purchases-android
    environment:
      JVM_OPTS: -Xmx6g
      CIRCLE_JDK_VERSION: oraclejdk8
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"

commands:

  android-dependencies:
    steps:
      - android-wordpress-orb/restore-gradle-cache
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - android-wordpress-orb/save-gradle-cache

  prepare-signing-key:
    steps:
      - run:
          name: Prepare GPG keystore file
          command: |
            export GPG_KEY_FILE=`mktemp`
            echo "export GPG_KEY=$GPG_KEY_FILE" >> $BASH_ENV
      - run:
          name: Base64 decode gpg keystore to file
          command: echo $SIGNING_GPG_BASE64 | base64 --decode > $GPG_KEY
      - run:
          name: Import GPG keys
          command: gpg --batch --import $GPG_KEY
      - run:
          name: Fixing GPG compatibility
          command: |
            echo $GPG_SIGNING_KEY_PW_NEW | gpg --batch --pinentry-mode=loopback --passphrase-fd 0 \
            --export-secret-keys > /home/circleci/.gnupg/secring.gpg

jobs:

  test:
    executor: android-executor
    steps:
      - checkout
      - android/accept-licenses
      - android-dependencies
      - android/restore-build-cache
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - run:
          name: Detekt
          command: ./gradlew detektAll
      - android/save-build-cache
      - store_artifacts:
          path: build/reports
      - store_test_results:
          path: build/test-results

  docs-deploy:
    executor: android-executor
    steps:
      - checkout
      - android-wordpress-orb/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Dokka
          command: ./gradlew dokka
      - android-wordpress-orb/save-gradle-cache
      - android/save-build-cache
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy to S3
          command: aws s3 sync ~/purchases-android/docs s3://purchases-docs/android --delete --acl public-read
      - run:
          name: Invalidate CloudFront caches
          command: aws cloudfront create-invalidation --distribution-id EPTW7F3CB566V --paths "/*"

  deploy:
    executor: android-executor
    steps:
      - checkout
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - prepare-signing-key
      - android-wordpress-orb/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Deployment
          command: |
            if [ "$CIRCLE_JDK_VERSION" != "oraclejdk8" ]; then
              echo "Skipping snapshot deployment: wrong JDK. Expected '$JDK' but was '$CIRCLE_JDK_VERSION'."
            else
              bundle exec fastlane android deploy
            fi
      - android-wordpress-orb/save-gradle-cache
      - android/save-build-cache

  deploy-snapshot:
    executor: android-executor
    steps:
      - checkout
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - android-wordpress-orb/restore-gradle-cache
      - prepare-signing-key
      - run:
          name: Deployment
          command: |
            if [ "$CIRCLE_JDK_VERSION" != "oraclejdk8" ]; then
              echo "Skipping snapshot deployment: wrong JDK. Expected '$JDK' but was '$CIRCLE_JDK_VERSION'."
            else
              bundle exec fastlane android deploy_snapshot
            fi
      - android-wordpress-orb/save-gradle-cache

  assemble:
    executor: android-executor
    steps:
      - checkout
      - android/accept-licenses
      - android-wordpress-orb/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Prepare Keystore
          working_directory: purchases-sample
          command: echo $RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Assemble
          command: |
            ./gradlew assemble \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - android-wordpress-orb/save-gradle-cache
      - android/save-build-cache

  integration-tests-build:
    executor: android-executor
    steps:
      - checkout
      - run:
          name: Replace API_KEY
          command: sed -i s/api_key/$API_KEY/ purchases-sample/src/main/java/com/revenuecat/sample/MainApplication.kt
      - android/restore-build-cache
      - run:
          name: Prepare Keystore
          working_directory: purchases-sample
          command: echo $RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Assemble Release APK
          command: |
            ./gradlew -p purchases-sample assembleRelease \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - run:
          name: Assemble AndroidTest APK
          command: |
            ./gradlew -p purchases-sample assembleAndroidTest -PtestBuildType=release \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - android/save-build-cache
      - persist_to_workspace:
          root: .
          paths:
            - purchases-sample/build/outputs/apk/release/purchases-sample-release.apk
            - purchases-sample/build/outputs/apk/androidTest/release/purchases-sample-release-androidTest.apk

  run-firebase-tests:
    description: "Run integration tests for Android in Firebase"
    executor: gcp-cli/google
    steps:
      - checkout
      - attach_workspace:
          at: .
      - gcp-cli/initialize:
          gcloud-service-key: GCLOUD_SERVICE_KEY
          google-compute-zone: GOOGLE_COMPUTE_ZONE
          google-project-id: GOOGLE_PROJECT_ID
      - run:
          name: Test with Firebase Test Lab
          command: >
            gcloud firebase test android run --type instrumentation \
              --app purchases-sample/build/outputs/apk/release/purchases-sample-release.apk \
              --test purchases-sample/build/outputs/apk/androidTest/release/purchases-sample-release-androidTest.apk \
              --timeout 2m \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID}
      - run:
          name: Copy test results data
          command: |
            mkdir -p ~/gsutil/
            gsutil -m cp -r -U `gsutil ls gs://cloud-test-$GOOGLE_PROJECT_ID | tail -1` ~/gsutil/ | true
      - store_artifacts:
          path: ~/gsutil/
      - store_test_results:
          path: ~/gsutil/

workflows:
  version: 2
  test-assemble-deploy-docs:
    jobs:
      - test
      - assemble
      - deploy:
          requires:
            - assemble
          filters:
            branches:
              only:
                - main
      - deploy-snapshot:
          requires:
            - assemble
          filters:
            branches:
              only:
                - develop
      - docs-deploy:
          filters:
            tags:
              only: /^(\d+\.)(\d+\.)(\d+)$/
            branches:
              ignore: /.*/

  integration-test:
    jobs:
      - integration-tests-build:
          filters:
            tags:
              only: /^(\d+\.)(\d+\.)(\d+)$/
            # Uncomment before merging
            # branches:
            #   only: /^release\/(\d+\.)(\d+\.)(\d+)$/
      - run-firebase-tests:
          requires:
            - integration-tests-build
