aliases:
  release-tags: &release-tags
    filters:
      tags:
        ignore:
          - /^.*-SNAPSHOT/
          - latest
          - /^.*-amazon*/
      branches:
        ignore: /.*/

  release-branches: &release-branches
    filters:
      tags:
        ignore: /.*/
      branches:
        only: /^release\/.*/

  only-main-branch: &only-main-branch
    filters:
      tags:
        ignore: /.*/
      branches:
        only: main

  android-executor: &android-executor
    executor:
      name: android/android-docker
      resource-class: large
      tag: 2023.02.1
    environment:
      JVM_OPTS: -Xmx6g
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"

version: 2.1
orbs:
  android: circleci/android@2.2.0
  gcp-cli: circleci/gcp-cli@2.1.0
  revenuecat: revenuecat/sdks-common-config@2.0.0
  codecov: codecov/codecov@3.2.4

parameters:
  action:
    type: enum
    enum: [default, bump]
    default: default

commands:
  install-sdkman:
    description: Install SDKMAN
    steps:
      - run:
          name: Installing SDKMAN
          command: |
            if curl -s "https://get.sdkman.io?rcupdate=false" | bash; then
              echo -e '\nsource "/home/circleci/.sdkman/bin/sdkman-init.sh"' >> $BASH_ENV
              source $BASH_ENV
            else
              echo "Error installing SDKMAN, continuing with default Java" >&2
            fi
      - run:
          name: Setup Java environment
          command: |
            if ! sdk env install; then
              echo "Error installing Java SDK through SDKMAN, continuing with default Java" >&2
            fi

  android-dependencies:
    steps:
      - android/restore-gradle-cache
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - android/save-gradle-cache

  prepare-signing-key:
    steps:
      - run:
          name: Prepare GPG keystore file
          command: |
            export GPG_KEY_FILE=`mktemp`
            echo "export GPG_KEY=$GPG_KEY_FILE" >> $BASH_ENV
      - run:
          name: Base64 decode gpg keystore to file
          command: echo $SIGNING_GPG_BASE64 | base64 --decode > $GPG_KEY
      - run:
          name: Import GPG keys
          command: gpg --batch --import $GPG_KEY
      - run:
          name: Fixing GPG compatibility
          command: |
            echo $GPG_SIGNING_KEY_PW_NEW | gpg --batch --pinentry-mode=loopback --passphrase-fd 0 \
            --export-secret-keys > /home/circleci/.gnupg/secring.gpg

  run-firebase-tests:
    parameters:
      app_apk_path:
        type: string
      test_apk_path:
        type: string
    steps:
      - gcp-cli/initialize:
          gcloud-service-key: GCLOUD_SERVICE_KEY
          google-compute-zone: GOOGLE_COMPUTE_ZONE
          google-project-id: GOOGLE_PROJECT_ID
      - run:
          name: Test with Firebase Test Lab
          command: >
            gcloud firebase test android run --type instrumentation \
              --app <<parameters.app_apk_path>> \
              --test <<parameters.test_apk_path>> \
              --timeout 2m \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID}
      - run:
          name: Copy test results data
          command: |
            mkdir -p ~/gsutil/
            gsutil -m cp -r -U `gsutil ls gs://cloud-test-$GOOGLE_PROJECT_ID | tail -1` ~/gsutil/ | true
          when: always
      - store_artifacts:
          path: ~/gsutil/
      - store_test_results:
          path: ~/gsutil/

jobs:

  test:
    <<: *android-executor
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - install-sdkman
      - android/accept-licenses
      - android-dependencies
      - android/restore-build-cache
      - run:
          name: Run Tests
          # We are running tests in the "defaults" flavor only. If we ever add/remove flavors, we will need to update
          # this command.
          command: ./gradlew lint testDefaultsDebugUnitTest testDefaultsReleaseUnitTest
      - run:
          name: Consolidate artifacts
          command: |
              mkdir -p build/test-results/
              find . -type f -regex ".*/build/test-results/.*xml" -exec cp --parents {} build/test-results/ \;
      - run:
          name: Kover HTML
          command: ./gradlew koverMergedHtmlReport
      - run:
          name: Kover XML
          command: ./gradlew koverMergedXmlReport
      - codecov/upload:
          file: build/reports/kover/merged/xml/report.xml
      - android/save-build-cache
      - store_artifacts:
          path: build/reports
      - run:
          name: Save test results
          command: |
            mkdir -p build/test-results
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} build/test-results \;
          when: always
      - store_test_results:
          path: build/test-results

  detekt:
    <<: *android-executor
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - install-sdkman
      - android/restore-gradle-cache
      - run:
          name: Detekt
          command: ./gradlew detektAll
      - android/save-gradle-cache

  docs-deploy:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Dokka
          command: ./gradlew dokkaHtmlMultiModule
      - android/save-gradle-cache
      - android/save-build-cache
      - run:
          name: Install pip
          command: sudo apt update && sudo apt install python3-pip
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy to S3
          command: aws s3 sync ~/project/docs/6.3.0-SNAPSHOT s3://purchases-docs/android/6.3.0-SNAPSHOT --delete
      - run:
          name: Update index.html
          command: aws s3 cp ~/project/docs/index.html s3://purchases-docs/android/index.html
      - run:
          name: Invalidate CloudFront caches
          command: aws cloudfront create-invalidation --distribution-id EPTW7F3CB566V --paths "/*"

  deploy:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/setup-git-credentials
      - revenuecat/trust-github-key
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - prepare-signing-key
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Deployment
          command: |
            bundle exec fastlane android deploy
      - android/save-gradle-cache
      - android/save-build-cache

  prepare-next-version:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - revenuecat/setup-git-credentials
      - revenuecat/trust-github-key
      - run:
          name: Prepare next version
          command: bundle exec fastlane prepare_next_version

  deploy-snapshot:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - android/restore-gradle-cache:
          cache-prefix: v1a
      - android/restore-build-cache:
          cache-prefix: v1a
      - prepare-signing-key
      - run:
          name: Deployment
          command: |
            bundle exec fastlane android deploy_snapshot
      - android/save-gradle-cache:
          cache-prefix: v1a
      - android/save-build-cache:
          cache-prefix: v1a

  assemble-sample-app:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - android/accept-licenses
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Prepare Keystore
          working_directory: examples/purchase-tester
          command: echo $RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Assemble
          command: |
            ./gradlew -p examples/purchase-tester assemble \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - store_artifacts:
          path: examples/purchase-tester/build/outputs/apk/release/purchase-tester-release.apk
      - store_artifacts:
          path: examples/purchase-tester/build/outputs/apk/debug/purchase-tester-debug.apk
      - android/save-gradle-cache
      - android/save-build-cache

  publish-purchase-tester-release:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - android/accept-licenses
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Prepare Keystore
          working_directory: examples/purchase-tester
          command: echo $PURCHASE_TESTER_RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Create app bundle
          command: |
            bundle exec fastlane android build_purchase_tester_bundle
      - store_artifacts:
          path: examples/purchase-tester/build/outputs/bundle/release/purchase-tester-release.aab
      - android/save-gradle-cache
      - android/save-build-cache
      - run:
            name: Publish aab
            command: |
              bundle exec fastlane android publish_purchase_tester aab_path:'examples/purchase-tester/build/outputs/bundle/release/purchase-tester-release.aab'

  integration-tests-build:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - run:
          name: Replace API_KEY
          working_directory: integration-tests/src/androidTest/java/com/revenuecat/purchases/integrationtests/
          command: |
            sed -i s/REVENUECAT_API_KEY/$API_KEY/ IntegrationTest.kt
      - android/restore-build-cache
      - run:
          name: Prepare Keystore
          working_directory: integration-tests
          command: echo $RELEASE_KEYSTORE | base64 -d > keystore
      - run:
          name: Assemble Release APK
          command: |
            ./gradlew -p integration-tests assembleRelease \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - run:
          name: Assemble AndroidTest APK
          command: |
            ./gradlew -p integration-tests assembleAndroidTest -PtestBuildType=release \
            -PreleaseKeyAlias=$RELEASE_KEY_ALIAS \
            -PreleaseKeystorePassword=$RELEASE_KEYSTORE_PASSWORD \
            -PreleaseKeyPassword=$RELEASE_KEY_PASSWORD
      - android/save-build-cache
      - persist_to_workspace:
          root: .
          paths:
            - integration-tests/build/outputs/apk/release/integration-tests-release.apk
            - integration-tests/build/outputs/apk/androidTest/release/integration-tests-release-androidTest.apk

  purchases-integration-tests-build:
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - android/restore-build-cache
      - run:
          name: Create purchases integration tests apks
          command: |
            bundle exec fastlane android build_default_purchases_integration_tests
      - android/save-build-cache
      - persist_to_workspace:
          root: .
          paths:
            - purchases/test_artifacts/integrationTest-app.apk
            - purchases/test_artifacts/integrationTest-test.apk

  run-firebase-tests-purchases-integration-test:
    description: "Run purchases module integration tests for Android in Firebase. Variant integrationTest"
    executor: gcp-cli/google
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run-firebase-tests:
          app_apk_path: purchases/test_artifacts/integrationTest-app.apk
          test_apk_path: purchases/test_artifacts/integrationTest-test.apk

  run-firebase-tests-purchases-load-shedder-integration-test:
    description: "Run purchases module integration tests for Android in Firebase using the load shedder servers"
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - gcp-cli/install
      - gcp-cli/initialize:
          gcloud-service-key: GCLOUD_SERVICE_KEY
          google-compute-zone: GOOGLE_COMPUTE_ZONE
          google-project-id: GOOGLE_PROJECT_ID
      - android/restore-build-cache
      - run:
          name: Build and run load shedder integration tests
          command: |
            bundle exec fastlane android run_load_shedder_purchases_integration_tests
      - android/save-build-cache
      - store_artifacts:
          path: ~/gsutil/
      - store_test_results:
          path: ~/gsutil/

  run-firebase-tests:
    description: "Run integration tests for Android in Firebase. Variant latestDependencies"
    executor: gcp-cli/google
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run-firebase-tests:
          app_apk_path: integration-tests/build/outputs/apk/release/integration-tests-release.apk
          test_apk_path: integration-tests/build/outputs/apk/androidTest/release/integration-tests-release-androidTest.apk

  run-backend-integration-tests:
    description: "Run backend integration tests. All variants"
    <<: *android-executor
    steps:
      - checkout
      - install-sdkman
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - android/restore-build-cache
      - run:
          name: Run backend integration tests
          command: |
            bundle exec fastlane android run_backend_integration_tests
      - android/save-build-cache
      - run:
          name: Save test results
          command: |
            mkdir -p build/test-results
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} build/test-results \;
          when: always
      - store_test_results:
          path: build/test-results

workflows:
  version: 2
  danger:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - revenuecat/danger

  build-test:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - test
      - detekt
      - assemble-sample-app
      - run-backend-integration-tests
      - integration-tests-build
      - purchases-integration-tests-build
      - run-firebase-tests-purchases-integration-test:
          requires:
            - purchases-integration-tests-build
      - run-firebase-tests-purchases-load-shedder-integration-test
      - run-firebase-tests:
          requires:
            - integration-tests-build

  deploy:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - integration-tests-build: *release-branches
      - purchases-integration-tests-build: *release-branches
      - run-firebase-tests-purchases-integration-test:
          requires:
            - purchases-integration-tests-build
      - run-firebase-tests-purchases-load-shedder-integration-test:
          <<: *release-branches
          context:
            - slack-secrets
      - run-firebase-tests:
          requires:
            - integration-tests-build
      - hold:
          type: approval
          requires:
            - run-firebase-tests
            - run-firebase-tests-purchases-integration-test
            - run-firebase-tests-purchases-load-shedder-integration-test
          <<: *release-branches
      - revenuecat/tag-current-branch:
          requires:
            - hold
          <<: *release-branches
      - deploy: *release-tags
      - deploy-snapshot: *only-main-branch
      - docs-deploy: *release-tags
      - publish-purchase-tester-release:
          requires:
            - deploy
            - docs-deploy
          <<: *release-tags

  snapshot-bump:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - prepare-next-version: *only-main-branch

  daily-load-shedder-integration-tests:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "load-shedder-integration-tests", << pipeline.schedule.name >> ]
    jobs:
      - run-firebase-tests-purchases-load-shedder-integration-test:
          context:
            - slack-secrets

  weekly-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "release-train", << pipeline.schedule.name >> ]
    jobs:
      - revenuecat/automatic-bump

  manual-trigger-bump:
    when:
      equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      - revenuecat/automatic-bump
